@import 'tailwindcss' source('../src');

@layer base {
	html {
		@apply bg-black;
		@apply h-full;
	}
	body {
		@apply h-full;
	}
}

@theme {
	--color-color-0: var(--color-pink-500);
	--color-color-1: var(--color-rose-400);
	--color-color-2: var(--color-green-400);
	--color-color-3: var(--color-cyan-400);
	--color-color-4: var(--color-rose-600);
	--color-color-5: var(--color-green-400);
	--color-color-6: var(--color-violet-600);
	--background-image-gradient-0: linear-gradient(
		to right in oklch,
		var(--color-pink-400),
		var(--color-rose-600),
		var(--color-rose-400)
	);
	--background-image-gradient-1: linear-gradient(
		to right in oklch,
		var(--color-pink-500),
		var(--color-orange-500),
		var(--color-pink-500)
	);
	--background-image-gradient-2: linear-gradient(
		to right in oklch,
		var(--color-emerald-600),
		var(--color-yellow-300),
		var(--color-emerald-600)
	);
	--background-image-gradient-3: linear-gradient(
		to right in oklch,
		var(--color-cyan-100),
		var(--color-blue-500),
		var(--color-cyan-400)
	);
	--background-image-gradient-4: linear-gradient(
		to right in oklch,
		var(--color-pink-500),
		var(--color-rose-500),
		var(--color-pink-500)
	);
	--background-image-gradient-5: linear-gradient(
		to right in oklch,
		var(--color-blue-600),
		var(--color-lime-300),
		var(--color-cyan-500)
	);
	--background-image-gradient-6: linear-gradient(
		to right in oklch,
		var(--color-purple-600),
		var(--color-blue-800),
		var(--color-purple-600)
	);
}
@keyframes gradient-swirl {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@utility animate-gradient-swirl {
	animation: gradient-swirl 10s linear infinite;
	background-size: 400% 400%;
}
